<!-- Page Header -->
<header class="masthead" style="background-image: url('topimage.jpg')">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="site-heading">
          <h2>みんなで『成功体験』『失敗体験』を共有しよう</h2>
          <span class="subheading">日常の成功談・失敗談を気軽に共有するアプリです。</span>
        </div>
      </div>
    </div>
  </div>
</header>


<!-- Main Content -->
  
<div class="container-fluid h-auto p-3  second">
  <p class="second-title" >みんなの投稿</p>

<div class="row">    
  <% @posts.each do |post| %>  
  <% if post.category == true %>
    <div class="col-xs-3 content">
      <img class="hoge" src="img/topimage.jpg">
      <p class="username">名無しさん（成功）</p>
      <p class="post"><%= post.content %></p>
      <span class="fa fa-heart like-btn">  21</span>
    </div>
  <% else %>
    <div class="col-xs-3 content-false">
      <img class="hoge" src="img/topimage.jpg">
      <p class="username">名無しさん(失敗)</p>
      <p class="post"><%= post.content %></p>
      <span class="fa fa-heart like-btn">  21</span>
    </div>
  <% end %>
<% end %>
</div>
</div>
